<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Reset password</title>
</head>
<body>
Hi, <strong>{{ username }}</strong><br><br>

You have made a request to reset your password.
<br>
Please <a href="{{reset_link}}" target="_blank">click here</a> to set new password.
<br><br>
<a href="http://www.bccexchange.co">BCCExchange</a>
</body>
</html>