<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User Balance Send Email Template</title>
</head>
<body>
Dear, <strong>{{ username }}</strong><br><br>

You have successfully sent {{ amount }} {{ currency }} to {{ address }}.
<br><br>

<a href="http://www.BCCExchange.co">BCCExchange</a>
</body>
</html>