<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User Balance Send Email Template</title>
</head>
<body>
<table style="width:600px;color:black;table-layout:fixed;margin:auto;border-radius:3px">
    <tbody>
    <tr style="height:70px;background:#0d50aa;width:100%">
        <td><h1 style="color: #fff; text-align: center;">BCCexchange</h1></td>
    </tr>
    <tr style="height:60px">
        <td style="padding:0px 0px 0px 30px;line-height:1.8">Dear <b>{{ username }}</b>,</td>
    </tr>
    <tr>
        <td style="padding:10px 30px;line-height:1.8">Thank you for registering on the <a
                href="https://www.bccexchnage">BCCexchange</a>.
        </td>
    </tr>
    <tr>
        <td style="padding:10px 30px;line-height:1.8">
            Please find below the activation link to activate your BCCexchange Account.
            Please click on the <a href="http://localhost:5000/#!/activate?email={{ email }}&token={{ uniqueid }}"
                                   target="_blank">link</a> Then, you will be able to log in and begin using <a
                href="https://www.bccexchange.co">BCCexchange</a>.
        </td>

    </tr>
    <tr>
        <td style="border-bottom:3px solid #efefef;width:90%;display:block;margin:0 auto;padding-top:30px"></td>
    </tr>
    <tr>
        <td style="padding:30px 30px 30px 30px;line-height:1.3">Best regards,<br> BCCexchange Team<br> <a
                href="https://u6316390.ct.sendgrid.net/wf/click?upn=JMo9HPFin8UaNpI-2BvgJwoV6JqaztBVg2YU-2B1-2BEijjWI-3D_PVgO7rx1vgyGo2rIm9C6fkLr6OlF2PF-2BJSKCYdLn5UCbSViRl0YmMHjik34bP7Jf4OCdeG-2BnJ0fEQMs3HoMUB-2FGQeCxQffae-2Bh0oIPOZE-2FMFm5-2FEVzqWBV7BFm6DBBuNssseSKGp-2FJFZ-2Bsd2E8so-2BsQbvbmVqrQHJezBh4izzXqapIIfE8lVxLHEEv944U3GI2LyG7ojPNnS-2BTkoolZN8RV-2Fs3u1RrGc9GABkzS46mc-3D"
                target="_blank"
                data-saferedirecturl="https://www.google.com/url?hl=en&amp;q=https://u6316390.ct.sendgrid.net/wf/click?upn%3DJMo9HPFin8UaNpI-2BvgJwoV6JqaztBVg2YU-2B1-2BEijjWI-3D_PVgO7rx1vgyGo2rIm9C6fkLr6OlF2PF-2BJSKCYdLn5UCbSViRl0YmMHjik34bP7Jf4OCdeG-2BnJ0fEQMs3HoMUB-2FGQeCxQffae-2Bh0oIPOZE-2FMFm5-2FEVzqWBV7BFm6DBBuNssseSKGp-2FJFZ-2Bsd2E8so-2BsQbvbmVqrQHJezBh4izzXqapIIfE8lVxLHEEv944U3GI2LyG7ojPNnS-2BTkoolZN8RV-2Fs3u1RrGc9GABkzS46mc-3D&amp;source=gmail&amp;ust=1512629870438000&amp;usg=AFQjCNHhT0FXOi0cIfnODri9Q8j_Bo-1tA">www.bccexchnage.co</a>
        </td>
    </tr>
    <tr style="height:30px;background:#0d50aa;color:#fff;text-align:center">
        <td>@BCCexchange 2017</td>
    </tr>
    </tbody>
</table>
</body>
</html>